    /*
* VIEW: DASH LOADING SCREEN
* VIEW ID: N/A
* DESCPRIPTION: DASH LOADING SCREEN
*/
    
    .tableActionIcon {
        color: gray;
        font-size: 1.25rem;
    }
    
    .deleteTableIcon {
        color: gray;
        font-size: 1.5rem;
        bottom: .5rem;
        margin-left: .5rem;
    }
    
    .cardCatalogPicture {
        box-shadow: 11px 8px 13px #888888;
        width: 276px;
    }
    
    .hero-card-catalog-picture {
        box-shadow: 11px 8px 13px #888888;
        width: 100%;
    }
    
    .navBackCheckBox {
        margin-left: 10px;
        margin-bottom: 15px;
    }
    /*
* VIEW: DASH LOADING SCREEN
* VIEW ID: N/A
* DESCPRIPTION: DASH LOADING SCREEN
*/
    
    #loading {
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3 !important;
        background-color: white;
    }
    
    #loading figure {
        width: 100%;
        margin: 0;
    }
    
    #loading figure img {
        margin: 10% auto 0;
        display: block;
        width: 100%;
        max-width: 328px;
        max-width: 300px;
    }
    
    .spinner {
        margin: 10px auto 0;
        width: 70px;
        text-align: center;
    }
    
    .spinner > div {
        width: 12px;
        height: 12px;
        background-color: #333;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 2s infinite ease-in-out both;
        animation: sk-bouncedelay 2s infinite ease-in-out both;
    }
    
    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
        background: #212c64;
    }
    
    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
        background: #212c64;
    }
    
    .spinner .bounce3 {
        background: #212c64;
    }
    
    @-webkit-keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1.2);
        }
    }
    
    @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
    /* END */
    /*==========================================*/
    /*GENERAL*/
    /*==========================================*/
    
    .bodyContainer {
        width: 100%;
        padding: 0 30px;
    }
    
    .noClick {
        pointer-events: none;
    }
    
    .feedCardShortTextContainer {
        height: 75px;
    }
    
    .feedCardDescContainer {
        margin-top: 5px !important;
        margin-bottom: 0 !important;
    }
    
    .correctwidth > .sapMFlexItem {
        width: 100% !important;
        height: 100% !important;
    }
    
    .bringBack {
        z-index: 1;
    }
    
    .fixWidth > div {
        width: 100%;
    }
    
    .bkgColorForm {
        border-color: gray;
        background-color: #fafafa;
        padding: 1rem 0.75rem;
    }
    
    .bkgColorForm .sapUiFormResGrid.sapUiFormBackgrTranslucent>div {
        border-color: gray;
        background-color: #fafafa;
    }
    
    .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM5 {
        width: 70%;
    }
    
    .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM6 {
        width: 70%;
    }
    
    .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM8 {
        width: 100%;
    }
    
    .topMargin {
        margin-top: 27px;
    }
    
    .bottomMargin {
        margin-bottom: 10px;
    }
    
    .zeroMarginBottom {
        margin-bottom: 0 !important;
    }
    
    .paddingTop {
        padding-top: 16px !important;
    }
    
    *:hover,
    *:active,
    *:focus {
        /*remove outlines*/
        outline: 0 !important;
    }
    
    *:after,
    *:before {
        /*remove outlines*/
        outline: none !important;
        outline: 0 !important;
        border: none !important;
    }
    
    li {
        outline: none !important;
        outline: 0 !important;
    }
    
    html.sap-desktop .sapMBtn:focus>.sapMFocusable {
        outline: 0 !important;
        outline-offset: 0;
    }
    
    .sapMSelectListItemBaseSelected {
        outline: 0;
        outline-offset: 0;
        color: white;
    }
    
    html.sap-desktop .sapMFooter-CTX .sapMBtn:focus .sapMBtnFocusDiv,
    .sapMBtn:focus .sapMBtnFocusDiv {
        /*ie*/
        outline: 0 !important;
        border: 0;
    }
    /*==========================================*/
    /*HEADER*/
    /*==========================================*/
    
    body {
        font-family: 'Roboto' !important;
        min-height: 500px;
    }
    
    .backgroundNormalHeader {
        background-image: url("../resources/headers/header.png");
        background-color: #009cd9;
        background-size: 100% 100%;
    }
    
    .headerSize {
        height: 13.4rem;
    }
    
    .customIcon .sapMBtnIcon {
        font-size: 1.375rem;
        line-height: 2.375rem;
        width: 1.4rem;
        text-align: center;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        max-height: 1.5rem;
        margin-top: 8px;
    }
    
    .logoutButton .sapMBtnDefault {
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: lighter;
        height: auto;
    }
    
    .white {
        color: white;
    }
    
    .marginNeg {
        /* move the content above the header*/
        position: relative;
        top: -5.0rem;
    }
    
    .whiteBackground {
        background-color: white;
    }
    
    .minHeightCorrection {
        /* Set min height to card container untill it loads*/
        min-height: 6rem;
    }
    
    .boxWithPadding {
        padding: 0.5rem;
    }
    
    .boxWithPaddingContentManager {
        padding: 30px;
    }
    
    .boxWithPaddingTopBottom {
        padding: 0.5rem 0;
    }
    
    .grayBackground {
        background-color: #e5e5e5;
        background-color: #f6f6f6;
        border-top: 1px solid #979797;
    }
    /*==========================================*/
    /*FONTS*/
    /*==========================================*/
    
    .filterFont {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: lighter;
        color: #303030;
    }
    
    .fontType {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: lighter;
        color: #303030;
    }
    
    .pageTitle {
        font-family: 'Roboto';
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
    }
    
    .pageSubtitleBold {
        font-family: 'Roboto';
        font-size: 25px;
        font-weight: 500;
        color: #303030;
    }
    
    .bodyCopyBold {
        font-family: 'Roboto' !important;
        font-size: 16px !important;
        font-weight: bold !important;
        color: #6e6e6e !important;
        /*line-height: 1.5;*/
    }
    
    .bodyCopyBlueBold {
        font-family: 'Roboto' !important;
        font-size: 16px !important;
        font-weight: bold !important;
        color: #009cd9 !important;
        /*line-height: 1.5;*/
        outline-style: none !important;
    }
    
    .bodyCopyOrders {
        font-family: 'Roboto' !important;
        font-size: 16px !important;
        font-weight: lighter !important;
        color: #6e6e6e !important;
    }
    
    .links {
        font-family: 'Roboto' !important;
        font-size: 16px !important;
        font-weight: normal;
        color: #009cd9;
    }
    
    .valvolineLink {
        color: #009cd9 !important;
        text-decoration: none !important;
    }
    
    .mainLink {
        color: #009cd9 !important;
        text-decoration: none;
    }
    
    .info {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: lighter;
        color: #303030;
    }
    
    .byline {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: Bold;
        color: #303030;
    }
    
    .pageSubtitle {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: lighter;
        color: #303030;
    }
    
    .bodyCopy {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: lighter;
        color: #6e6e6e;
    }
    
    .carouselTitle {
        font-size: 32px !important;
    }
    /*==========================================*/
    /*TABLES*/
    /*==========================================*/
    
    .orderTableColor>.sapMListTbl th {
        background: #f7f7f7;
        border-bottom: 0 dashed #e5e5e5 !important;
        border-top: 0 solid #979797 !important;
    }
    
    .orderRowBground.sapMLIB>td {
        background: #f7f7f7 !important;
    }
    
    .orderRowBorder.sapMLIBShowSeparator>td {
        border-top: 1px dashed #cccccc;
        border-bottom: 0 dashed #e5e5e5;
    }
    
    .orderRowBorder2>.sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child>td,
    .sapMListShowSeparatorsAll .sapMListTblSubRow:last-child>td {
        border-bottom: 0 solid #cccccc;
    }
    
    .tableBackBox {
        background: #f7f7f7;
        border-bottom: 0 dashed #e5e5e5 !important;
        /*border-top: 2px solid #979797 !important;*/
        border-left: 30px solid #f7f7f7 !important;
        border-right: 30px solid #f7f7f7 !important;
    }
    
    .tableBackBox2 {
        border-top: 2px solid #979797 !important;
    }
    
    .inlineClass {
        text-align: right;
    }
    
    .TableSortIcon {
        margin-left: .5rem;
        font-size: 1rem;
        color: #000000;
    }
    /*==========================================*/
    /*BUTTONS*/
    /*==========================================*/
    
    .valvolineButtonPages {
        background-color: #009cd9;
        border-color: #009cd9;
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        height: 48px;
        width: 15rem;
    }
    
    .valvolineButtonPages .sapMBtnInner {
        background-color: transparent !important;
        border: none !important;
        border-radius: .2rem;
        color: white !important;
        text-shadow: 0 0 rgba(255, 255, 255, .5);
        outline-style: none !important;
    }
    
    .backgroundNormalHeader .sapMBtn:focus>.sapMFocusable {
        outline: 0 dotted #ffffff !important;
    }
    
    .backToContentManager .sapMBtnInner {
        background-color: transparent;
        border: 0 transparent;
        color: white;
        text-shadow: 0;
    }
    
    .backToContentManager .sapMBtnIcon {
        color: white;
        font-size: 1rem;
        line-height: 2.3rem;
        width: 1.375rem;
    }
    
    .backToContentManager .sapMBtnInner:hover {
        background-color: transparent;
        border: 0 transparent;
        color: white;
        text-shadow: 0;
        /*font-size: 1.05rem;*/
    }
    
    .sapMBtn:focus>.sapMFocusable {
        outline: 0 dotted #000000;
        outline-offset: -3px;
    }
    
    .sapMBtn:hover>.sapMBtnHoverable {
        background: transparent;
    }
    
    .saveBtn .sapMBtnInner {
        min-width: 5.5rem !important;
        background-color: #009cd9 !important;
        border: 0 solid #ababab !important;
        border-radius: 0 !important;
        color: #ffffff !important;
        outline-style: none !important;
    }
    
    .sapMBtn .sapMBtnInner,
    .sapMBtn .sapMBtnContent {
        display: block;
        font-family: 'Roboto';
        font-size: 16px;
        /* font-weight: lighter;*/
        font-weight: normal;
    }
    
    .closeBtn .sapMBtnInner {
        min-width: 5.5rem !important;
        background-color: #ffffff !important;
        border: 1px solid #ababab !important;
        border-radius: 0 !important;
        color: #000000 !important;
        outline-style: none !important;
    }
    
    .feedCardButton .sapMBtnInner {
        background-color: #009cd9;
        border-color: #009cd9;
        color: #ffffff !important;
        font-size: 16px;
        /*width: 100%;*/
        display: block;
        margin: auto;
        border: 0 solid #ababab !important;
        border-radius: 0 !important;
    }
    
    .feedCardBtnBorder {
        margin: 0 10px 32px 10px;
    }
    
    .hiddenButton {
        visibility: hidden;
    }
    
    .mainButton {
        height: 45px !important;
        width: 14rem !important;
    }
    
    .sapUiFormEdit-CTX .sapMRbBLabel {
        line-height: 4rem;
    }
    
    .sapUiFormEdit .sapMText {
        display: block;
        min-height: 3rem;
        line-height: 1.375rem;
        padding-top: .925rem;
        padding-bottom: .8125rem;
    }
    
    .learnHeaderButton .sapMBtnInner.sapMBtnText.sapMBtnIconFirst,
    .sapMBtnInner.sapMBtnText.sapMBtnBack {
        padding-left: 2rem;
    }
    
    .learnHeaderButton .sapMBtnHoverable:hover {
        background-color: transparent;
    }
    
    .learnHeaderButton .sapMBtnDefault {
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: lighter;
        height: auto;
    }
    
    .learnHeaderButton {
        display: flex;
    }
    
    .learnHeaderButton .sapMBtnInner .sapMBtnText {
        padding-left: .35rem !important;
    }
    
    .learnHeaderButtonPressed .sapMBtnDefault {
        background-color: transparent;
        color: white;
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: normal;
        height: auto;
        text-decoration: underline;
    }
    
    .myProfileIcon .sapMBtnIcon {
        width: 1.4rem;
        max-height: 1.7rem;
        margin: 0;
        color: white;
        margin-top: 0;
        padding: 0;
    }
    
    .hPadding {
        padding-top: 95px;
    }
    
    .hPaddingmain {
        padding-top: 45px;
    }
    
    .alignEnd {
        align-items: flex-end;
    }
    
    .columnIcon .sapMBtnIcon {
        width: 1.5rem;
        /*max-height: 1.7rem;*/
        margin-top: 6.5px;
        color: #6e6e6e !important;
        /*padding: 0;*/
    }
    
    .calltoactionButton {
        width: 12.625rem !important;
    }
    
    .sapMBtnInner {
        vertical-align: top;
        -webkit-appearance: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        font-size: .875rem;
        height: 2.5rem;
        min-width: 2.5rem;
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
        background-color: #f7f7f7;
        border: 1px solid #ababab;
        border-radius: .2rem;
        color: #346187;
        text-shadow: 0 0 0 #ffffff;
    }
    /*==========================================*/
    /*CARDS*/
    /*==========================================*/
    
    .cardContainer {
        width: 81%;
        min-width: 81%;
    }
    
    .feedcardSize {
        width: 276px !important;
        height: auto !important;
    }
    
    .feedCardTile {
        margin-bottom: 1px;
    }
    
    .feedCardTile:hover {
        /* Feed Card Hover */
        border: 1px solid #009cd9;
        box-shadow: 0 0 6px #009cd9;
        transform: scale(1.02, 1.02);
        width: calc(24% + 2px);
        margin: calc(0.5% - 1px);
    }
    
    .generalcardSize {
        width: 276px;
        height: auto;
        margin: 10px;
    }
    
    .description-max-lines {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        overflow: hidden;
        max-height: 133px;
    }
    
    .subtitle-max-lines {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        max-height: 78px;
    }
    
    .card-link {
        max-width: 254px;
        -webkit-line-clamp: 2;
        flex-wrap: wrap;
        overflow-wrap: break-word;
        white-space: normal;
        height: 38px;
    }
    
    .sideBackground {
        background-color: white;
    }
    
    .inputBorder .sapMInputBaseInner {
        height: 2.25rem;
        width: 23rem;
        background: #fafafa;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
        border-top: #fafafa;
        border-left: #fafafa;
        border-right: #fafafa;
        outline-style: none !important;
    }
    
    .inputBorder .sapMInputBaseContentWrapper {
        background: transparent;
        border: none;
        border-bottom: 1px solid #bfbfbf;
        max-width: 23rem;
    }
    
    .inputBorder2 .sapMInputBaseContentWrapper {
        background: transparent;
        border: none;
        border-bottom: 1px solid #bfbfbf;
        max-width: 23rem;
    }
    
    .sapMFocus .sapMInputBaseContentWrapper {
        outline: none!important;
    }
    
    .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):active,
    .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):hover,
    .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper):focus {
        background: transparent!important;
        border-color: #bfbfbf!important;
    }
    
    .inputBorder .sapMInputBaseInner:hover {
        height: 2.25rem;
        width: 23rem;
        background: #fafafa !important;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
        border-top: #fafafa;
        border-left: #fafafa;
        border-right: #fafafa;
    }
    
    .inputBorder .sapMInputBaseInner:active {
        height: 2.25rem;
        background: #fafafa !important;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
        border-top: #fafafa;
        border-left: #fafafa;
        border-right: #fafafa;
        outline-style: none !important;
    }
    
    .titleC {
        font-weight: bold;
        font-size: 24px;
        color: #333333;
        height: 3rem;
        line-height: 3rem;
        padding-left: 24px;
    }
    
    .borderBottomTitles {
        border-bottom: 1px solid #cccccc;
        height: 4rem;
    }
    
    .title .sapUiForm .sapUiFormTitle {
        font-weight: bold;
        font-size: 24px;
        color: #333333;
        height: 3rem;
        line-height: 3rem;
        padding-left: 24px;
    }
    
    .title {
        font-size: 1.125rem!important;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .fornContentPadding {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .comboBoxBorder .sapMComboBoxTextField {
        border-bottom: 1px solid #bfbfbf;
        margin: .25rem 0;
        height: 2.25rem;
        background: #fafafa;
        border-top: #fafafa;
        border-left: #fafafa;
        border-right: #fafafa;
    }
    
    .comboBoxBorder .sapMComboBoxTextField:hover {
        border-bottom: 1px solid #bfbfbf;
        margin: .25rem 0;
        height: 2.25rem;
        background: #fafafa;
        border-top: #fafafa;
        border-left: #fafafa;
        border-right: #fafafa;
    }
    
    .multiComboBoxSegments {
        background-color: transparent !important;
        width: 23rem !important;
    }
    
    .multiComboBoxSegments,
    html.sap-desktop .sapMComboBoxBaseArrow:not(.sapMComboBoxBasePressed):hover {
        background: transparent;
    }
    
    .multiComboBoxSegments,
    .sapMComboBoxBasePressed .sapMComboBoxBaseArrow::before {
        color: #000000;
    }
    
    .sapMInputDivWrapper:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):hover {
        background: transparent;
        border-color: #427cac;
    }
    
    .inputBkgColor .sapMInputBaseInner {
        background: #fafafa;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
    }
    
    .inputComboBox {
        width: 23rem !important;
    }
    
    .inputComboBox .sapMSFF {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        color: black;
    }
    
    .inputComboBox .sapMSFF:hover {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        color: black;
    }
    
    .inputBkgColor .sapMInputBaseInner:hover {
        background: #fafafa !important;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
    }
    
    .inputBkgColor .sapMInputBaseInner:focus {
        background: #fafafa !important;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
        outline-style: none !important;
    }
    
    .feedCardTitle {
        margin: 10px;
    }
    
    .imageTilePicture {
        width: 100%;
        height: 13vw;
        justify-content: center;
        max-height: 176px;
    }
    
    .caroucel-image-tile-picture {
        width: calc(276px - 16px);
        height: 13vw;
        justify-content: center;
        max-height: 176px;
    }
    
    .feedCardDiv {
        height: 4.65rem;
    }
    
    .feedCardContent {
        margin: 32px 10px;
        height: auto;
    }
    
    .feedCardShorText {
        margin-top: 0;
        margin-bottom: 0 !important;
        overflow-wrap: break-word;
        width: 246px;
    }
    
    .sapMSelectListItemBase {
        color: #000000;
        background-color: #fafafa;
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: lighter;
    }
    
    .sapMSelectListItemBaseSelected {
        outline: 0 !important;
    }
    
    .feedFilter>.sapMSltLabel {
        color: #e5e5e5;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
    }
    
    .sapMSltArrow {
        background: transparent !important;
        color: #000000 !important;
    }
    
    .sapMSltPressed>.sapMSltArrow {
        /*background: transparent;*/
        color: #000000 !important;
    }
    
    .sapMSltPressed>.sapMSltArrow::before {
        color: #000000 !important;
    }
    
    .sapMComboBoxBasePressed .sapMComboBoxTextFieldArrow:hover {
        background: #fafafa !important;
        background-color: #fafafa !important;
        color: #000000 !important;
    }
    
    .sapMComboBoxBasePressed .sapMComboBoxTextFieldArrow {
        background: #fafafa !important;
        background-color: #fafafa !important;
        color: #000000 !important;
    }
    
    .sapMComboBoxTextFieldArrow {
        color: #000000 !important;
    }
    
    .sapMSlt {
        position: relative;
        vertical-align: top;
        outline: none;
        height: 2.5rem;
        margin: .25rem 0 .25rem 0;
        border: 0 solid #bfbfbf !important;
        border-bottom: 1px solid #bfbfbf !important;
        background-color: #fafafa !important;
    }
    
    .sapMSlt:hover {
        position: relative;
        vertical-align: top;
        outline: none;
        height: 2.5rem;
        margin: .25rem 0 .25rem 0;
        border: 0 solid #bfbfbf !important;
        border-bottom: 1px solid #bfbfbf !important;
        background-color: #fafafa !important;
    }
    
    .sapMSlt> .sapMSltLabel {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        text-indent: 0;
        text-align: start;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 2.375rem;
        color: #000000;
        font-family: 'Roboto' !important;
        font-style: normal !important;
        font-size: 20px !important;
        font-weight: lighter !important;
    }
    
    *:hover,
    *:active,
    *:focus {
        /*remove outlines*/
        outline: 0 !important;
    }
    
    *::after,
    *::before {
        /*remove outlines*/
        outline: none !important;
        outline: 0 !important;
        border: none !important;
    }
    
    .productcontentCardContent {
        margin-top: 32px;
        margin-bottom: 8px;
        margin-left: 32px;
        margin-right: 32px;
        height: 11rem;
    }
    
    .pccpageSubtitle {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .productcontentCenter {
        justify-content: center;
    }
    
    .producttextCenter {
        text-align: center !important;
    }
    /*==========================================*/
    /*HERO CARD FORM*/
    /*==========================================*/
    
    .heroCardTemplate {
        background-image: url("../resources/img/HeroCardTemplate.png");
        background-size: 100% 100%;
        width: 1138px;
        height: 464px;
    }
    
    .hero-card-subtitle-container {
        height: 75px;
    }
    
    .alignSelfCenter {
        align-self: center;
    }
    
    .herocardcontentsize {
        height: 61.3%;
        width: 32.3%;
        margin-bottom: 11px;
    }
    
    .herocardcontentmargin {
        padding: 10px;
    }
    
    .noTextPadding {
        line-height: 30px !important;
        padding: 0 !important;
        min-height: auto !important;
    }
    
    .FlexHeader {
        flex-wrap: wrap !important;
    }
    
    .subtitleMargin {
        margin-top: 16px;
    }
    
    .LinkMargin {
        margin-top: 32px;
    }
    /*==========================================*/
    /*MEDIA CAROUSEL FORM*/
    /*==========================================*/
    
    .mediaCarouselSize {
        width: 1138px;
        height: 620px;
    }
    
    .textCarouselSize {
        width: 1138px;
        height: 410px;
    }
    
    .mCTitleMargin {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
    .tCTitleMargin {
        margin-top: 32px;
        margin-left: 10px;
    }
    
    .mc-subtitle {
        height: 100%;
    }
    /*.imageTilePicture {*/
    /*    width: 266px;*/
    /*    height: 176px;*/
    /*}*/
    
    .normalTile {
        width: calc(25% - 16px);
    }
    
    .textCarouselTile {
        width: calc(100%/4);
        height: 100%;
    }
    
    .mediaCarouselWidth {
        width: 1138px !important;
    }
    
    .mcContentPadding {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .tcContentPadding {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .mcTextAlignCenter {
        text-align: center !important;
    }
    
    .inputBorder2 .sapMInputBaseInner {
        height: 2.25rem;
        background: #fafafa;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
        border-top: #fafafa;
        border-left: #fafafa;
        border-right: #fafafa;
        outline-style: none !important;
    }
    
    .inputBorder2 .sapMInputBaseInner:hover {
        height: 2.25rem;
        background: #fafafa !important;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
        border-top: #fafafa;
        border-left: #fafafa;
        border-right: #fafafa;
        outline-style: none !important;
    }
    
    .inputBorder2 .sapMInputBaseInner:active {
        height: 2.25rem;
        background: #fafafa !important;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: lighter;
        border-top: #fafafa;
        border-left: #fafafa;
        border-right: #fafafa;
        outline-style: none !important;
    }
    
    .inputBorder2.sapMInputBase {
        height: 32px;
    }
    
    .mediaContentMargin {
        margin: 8px;
    }
    /*VIDEOS*/
    
    .videoForStopping {
        width: 100%;
        height: 176px;
        border: hidden;
        background: transparent;
    }
    /*==========================================*/
    /*TEXT CAROUSEL FORM*/
    /*==========================================*/
    
    .textNormalTile {
        width: calc(100%/3);
        height: 280px;
    }
    
    .tCTitleMargin {
        margin-top: 40px;
        margin-bottom: 0;
    }
    /*==============================*/
    /*Message Dialog*/
    /*==============================*/
    
    .limitDialog {
        width: 25rem;
        height: 10rem;
    }
    
    .limitDialogDelete {
        width: 25rem;
        height: 12rem;
    }
    
    .sapMDialogSection {
        height: 100% !important;
    }
    
    .dialogtitle {
        justify-content: center;
        margin: 1rem;
    }
    
    .spacebetween {
        justify-content: space-between;
    }
    /*==============================*/
    /*Feed Settings*/
    /*==============================*/
    
    .horizontalDivOrders {
        height: 8px;
        width: 100%;
        border-bottom: 1px solid #cccccc;
    }
    
    .feedFormTitle>.sapUiForm .sapUiFormTitle {
        padding-left: 14px !important;
    }
    
    .sapUiCal:not(.sapUiCalInt) {
        width: 23rem !important;
        min-width: 23rem !important;
    }
    
    .sapMListTblCell {
        padding: .3rem .5rem;
    }
    
    .tcContentTitle {
        height: 90px;
    }
    
    .tcContentsubTitle {
        height: auto;
    }
    /* MAIN TABLE */
    
    .mainTableWCMT .sapUiTableCol:active {
        background-color: #d8d8d8;
    }
    
    .mainTableWCMT .sapUiTableTr>td {
        border-right: 0;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    
    .mainTableWCMT.sapUiTableVScr .sapUiTableHSb,
    .mainTableWCMT.sapUiTableVScr .sapUiTableCtrlScr,
    .mainTableWCMT.sapUiTableVScr .sapUiTableColHdrScr,
    .mainTableWCMT.sapUiTableVScr .sapUiTableRowActionScr {
        margin-right: 0;
    }
    
    .mainTableWCMT.sapUiTableVScr .sapUiTableVSb,
    .mainTableWCMT.sapUiTableVScr .sapUiTableVSbBg {
        display: none;
    }
    /* Welcome feed card info message */
    
    .infoWelcomeCard {
        width: 300px;
        display: block;
        min-height: 3rem;
        line-height: 1.375rem;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .selectAccountLink {
        text-decoration: none!important;
    }
    /* Account Acess Fragment */
    
    .titleDialogLimit .sapMBarChild {
        /* sapMDialogTitle sapMTitle sapMTitleMaxWidth sapMTitleNoWrap sapMTitleStyleAuto sapUiSelectable*/
        text-align: left;
        font-family: 'Roboto' !important;
        font-size: 20px !important;
        font-weight: lighter !important;
        color: #303030 !important;
        width: 100%;
        padding-left: 32px;
    }
    
    .userManagementFragmentSize {
        width: 800px !important;
    }
    
    .accountDetails {
        /* Makes Margin Above MyAccount Title */
        padding-bottom: 5px;
        border-bottom: 1px solid #9c9c9c;
    }
    
    .accountDetails .sapMSF {
        width: 100% !important;
    }
    
    .headerDialog {
        margin: 32px 32px 16px;
        border-bottom: 1px solid #000;
    }
    
    .flexCont {
        flex-wrap: wrap;
    }
    
    .borderHeader {
        margin-bottom: 6px;
    }
    
    .contentStyle {
        padding: 0 32px 0 32px;
    }
    
    .accountAccessTable table tr th:nth-child(2) {
        width: 40%;
        padding-right: 2px;
        padding-left: 2px;
    }
    
    .accountAccessTable table tr th:nth-child(3) {
        width: 40%;
        padding-right: 2px;
        padding-left: 2px;
    }
    
    .accountAccessTable table tr th:nth-child(4) {
        width: 15%;
        padding-right: 2px;
        padding-left: 2px;
    }
    
    .accountAccessTable table tr th:nth-child(5) {
        width: 5%;
        padding-right: 2px;
        padding-left: 2px;
    }
    
    .accountAccessTable .sapMListTbl th {
        /* Table Insights Details */
        background: transparent;
    }
    
    .whiteBackground {
        background-color: #fff;
    }
    
    .bodyCopy2 {
        font-family: 'Roboto' !important;
        font-size: 16px !important;
        font-weight: lighter !important;
        color: #6e6e6e !important;
    }
    
    .changeBorderSelectBoxUserManagement .sapMCbBg {
        border: solid .05rem #6e6e6e;
        background-color: #ffffff;
        border-radius: 0;
    }
    
    .changeBorderSelectBoxUserManagement .sapMCbBg:before {
        border: solid .05rem #a0a0a0;
        border-radius: 0;
        background: #a0a0a0;
    }
    
    .changeBorderSelectBoxUserManagement .sapMCbHoverable:hover {
        background: #aaaaaa;
    }
    
    .changeBorderSelectBoxUserManagement .sapMCbBg.sapMCbMarkChecked:before {
        color: #ffffff;
        background: #6f6f6f;
        border: 0;
        width: 100%;
        height: 100%;
    }
    
    .navigationBtn .sapMBtnIcon {
        width: 1.5rem;
        height: 3rem;
    }
    
    .navigationBtn .sapMBtnInner {
        background: white;
        border: none;
        cursor: pointer;
    }
    
    .navigationBtn .sapMBtnInner:focus {
        background: transparent;
    }
    
    .dialogFooter {
        border-top: 1px solid #000;
        margin: 16px 32px 32px;
        padding-top: 12px;
    }
    
    .valvolineButtonDialogSubmit .sapMBtnInner {
        background-color: transparent !important;
        border: none !important;
        border-radius: .2rem;
        color: white !important;
        font-family: 'Roboto';
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .valvolineButtonDialogCancel .sapMBtnInner {
        background-color: transparent !important;
        border: none !important;
        border-radius: .2rem;
        color: #303030 !important;
        font-family: 'Roboto';
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .valvolineButtonDialogSubmit {
        background-color: #009cd9;
        border-color: #009cd9;
        color: white;
        font-weight: bold;
        height: 48px;
        width: 10rem;
        display: block;
        text-transform: uppercase;
    }
    
    .valvolineButtonDialogCancel {
        background-color: white;
        border: 1px solid #979797;
        color: #303030;
        font-weight: bold;
        height: 48px;
        width: 10rem;
        display: block;
        text-transform: uppercase;
    }
    
    .valvolineButtonDialogSubmit:active {
        /* Active Button Color */
        background: #0080b2;
    }
    
    .valvolineButtonDialogCancel:active {
        /* Active Button Color */
        background: #e3e3e3;
    }
    
    .accountAccessTableHeaders .sapMListTblCell {
        vertical-align: top;
    }
    
    .accountAccessHeaderHide {
        visibility: hidden;
    }
    /*.accountDetails .sapMFlexItem {*/
    /*    width: 100%;*/
    /*}*/
    
    .accountSearchField .sapMSFF {
        box-sizing: border-box;
        height: 2.5rem;
        line-height: 2.375rem;
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        background: transparent;
        vertical-align: top;
        width: 100%;
        position: relative;
        padding-left: .625rem;
        padding-right: 4.75rem;
    }
    
    .sapMListTbl .sapMText,
    .sapMListTbl .sapMLabel {
        font-size: 1rem;
        color: #333333;
        font-weight: bold;
    }
    
    .valvolineSelectAccountButton {
        width: 15rem!important;
    }
    
    .accountAccessDialogHBox > div {
        width: 20rem;
    }
    
    .sapMComboBoxBase .sapMInputBaseContentWrapper {
        border: none;
        border-bottom: 1px solid #bfbfbf;
        background: transparent;
    }
    
    .carousel-last-page>div>div:last-child .carousel-page>div:last-child {
        border: solid 1px gray;
    }
    
    .contentCardIconTabBar .sapMITBHead {
        border: 1px solid #ababab !important;
        border-bottom: 0 !important;
    }
    
    .contentCardIconTabBar .sapMITBContent {
        padding: 0 !important;
    }
    
    .contentCardIconTabBar .sapMITH .sapMITBArrowScrollLeftTextOnly {
        display: none !important;
    }
    
    .contentCardIconTabBar .sapMITH .sapMITBArrowScrollRightTextOnly {
        display: none !important;
    }
    
    .contentCardIconTabBar .sapMITH .sapMITBScrollContainer {
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .contentCardIconTabBar .sapMITBHead {
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .contentCardIconTabBar .sapMITBFilter {
        padding: 0 0.75rem !important;
    }
    
    .contentCardIconTabBar .sapMITBSepLine {
        margin: 0 !important;
    }
    
    .contentCardIconTabBar .sapMITBSelected {
        background-color: #3b6f9a !important;
        height: 3.1rem !important;
    }
    
    .contentCardIconTabBar .sapMITBSelected>.sapMITBText {
        color: #fafafa !important;
        text-shadow: none !important;
    }
    
    .contentCardIconTabBar .sapMITBFilter>.sapMITBText {
        color: #3b6f9a;
        text-shadow: none;
    }
    
    .contentCardIconTabBar .sapMITH {
        border-bottom-color: #3b6f9a !important;
    }
    
    .contentCardIconTabBar .sapMITBSelected>.sapMITBText + .sapMITBContentArrow {
        border-bottom-color: #fafafa !important;
    }
    
    .floatDeleteBtn {
    	justify-content: center;
        background: rgba(0, 156, 217, 0.5);
        border-radius: 50px;
        display: flex;
        align-items: flex-end;
        width: 30px;
        height: auto;
        position: fixed;
        bottom: 20px;
        left: 60px;
        color: #fff;
        cursor: pointer;
        font-size: 30px;
        padding: 10px;
        z-index: 4;
    }
    
    .contentByline {
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: bold;
        color: #303030;
    }
    
    .locationFilterText {
        word-break: normal;
        padding-right: 5px;
        font-size: 16px;
        min-width: fit-content;
    }
    
    .sectionSelect .sapMSFF {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #bfbfbf !important;
        color: black;
    }
    
    .sectionSelect .sapMSFF:hover {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #bfbfbf !important;
        color: black;
    }
    
    .sectionSelect {
        background-color: transparent !important;
        border: 0;
        border-bottom: 1px solid #bfbfbf !important;
        margin-left: 10px !important;
        margin-right: 8px !important;
        min-width: 113px;
    }
    
    .sectionSelect> .sapMSltLabel {
        color: black;
        font-size: 15px !important;
        font-family: 'Roboto';
        font-weight: normal !important;
    }
    
    .sectionSelect .sapMSFI[type='search'] {
        font-size: 15px;
        color: black;
        font-family: 'Roboto';
        font-weight: normal;
    }
    
    .sectionSelect .sapMSFB {
        background-color: transparent;
        color: gray;
    }
    
    .sectionSelect .sapMSltArrow {
        background: transparent;
        color: gray;
    }
    
    .sectionSelect .sapMSFB:hover {
        border-bottom: 1px solid #bfbfbf !important;
        background-color: transparent;
        color: gray;
    }
    
    .paddingBottom {
        padding-bottom: 10px;
    }
    
    .sectionSelect .sapMSltHoverable:not(.sapMSltState):hover {
        border: 0;
        background: transparent;
        border-bottom-style: solid;
        border-width: 1px;
        color: gray;
        border-bottom: 1px solid #bfbfbf !important;
    }
    
    .sectionSelect>.sapMSltLabel {
        padding: 1px 1rem 0 .625rem !important;
    }
    
    .sectionSelectFilter-list:hover {
        background: transparent!important;
    }
    
    .sectionSelectFilter-list.sapMSltPressed .sapMSltArrow::before {
        color: gray!important;
    }
    
    .sectionChangeBtns {
        text-align: center !important;
        width: auto!important;
        min-width: 145px;
    }
    
    .titleHeader {
        font-size: 22px !important;
        padding-left: 60px !important;
    }
    
    .staticCardHBox {
        height: 75px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .staticCardShortText {
        color: #009cd9!important;
        text-decoration: none!important;
    }
    
    .customListAuthDetails .sapMLIB {
        border: none !important;
    }
    
    .customListAuthDetails .sapMSLI {
        height: 2rem !important;
    }
    
    .customListAuthDetails .sapMLIB.sapMGHLI {
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: bold;
        color: #303030;
        padding-top: 1rem;
    	padding-bottom: 0.5rem;
    }
    
    .footerTransparent {
    	background-color: transparent!important;
    }
    
    .applyAuthButton {
    	width: 100% !important;
    	padding: 0 1rem !important;
    }
    
    .autoHeight {
    	height: auto !important;
    }